.gradle
build/
/bin
/eclipse
/bin
/.settings
/.classpath
/build
/.gradle
/saves
/logs
/screenshots
/config
/run
usernamecache
# Ignore Gradle GUI config
gradle-app.setting
usernamecache.json
options.txt
crash-reports/crash-2015-12-12_23.03.13-client.txt
crash-reports/crash-2015-12-13_13.17.01-client.txt
