.gradle
build/
/bin
/eclipse
/bin
/.settings
/out
/.classpath
/build
/.gradle
/saves
/logs
/screenshots
/config
/run
crash-reports/crash-*.txt
usernamecache
# Ignore Gradle GUI config
gradle-app.setting
usernamecache.json
options.txt
crash-reports/crash-2015-12-12_23.03.13-client.txt
crash-reports/crash-2015-12-13_13.17.01-client.txt
crash-reports/crash-2015-12-19_01.54.54-client.txt
whitelist.json
servers.dat
banned-ips.json
crash-reports/crash-2015-12-29_07.32.22-client.txt
eula.txt
banned-players.json
ops.json
server.properties
crash-reports/crash-2015-12-29_08.16.20-server.txt
usercache.json
.metadata
